<template>
    <div>
        <f7-block-title>
            {{ photo.title }}
        </f7-block-title>
        <f7-block inner class="photo-wrapper">
            <f7-progressbar infinite color="blue" v-if="loading"></f7-progressbar>
            <img v-bind:src="url" @load="loading=false"></img>
            <f7-block>
                <span v-for="tag in tags">#{{ tag }} </span>
            </f7-block>
        </f7-block>
    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import config from '../../config/index'

const API_KEY = config.API.KEY;
const API = config.API.BASE;
const Format = config.API.FORMAT;
const NoJsonCallback = config.API.NOJSONCALLBACK;

export default {
  name: 'flickr-photo',
  created() {
    this.fetchPhoto();
    this.fetchTags();
  },
  props: ['photo'],
  data() {
    return {
      url: '',
      tags: [],
      loading: true
    }
  },
  methods: {
    fetchTags () {
      let self = this;

      let apiMethod = config.API.METHODS.TAGS;

      Vue.axios.get(API, {
        params: {
          'format': Format,
          'nojsoncallback': NoJsonCallback,
          'method': apiMethod,
          'api_key': API_KEY,
          'photo_id': self.photo.id
        }
      }).then((response) => {
          self.tags = response.data.photo.tags.tag.map(tag => tag.raw);
        })
        .catch((error) => {
          console.log(error);
        })
    },
    fetchPhoto () {
      let photo = this.photo;

      let url = 'https://farm'+photo.farm+'.staticflickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'.jpg';

      this.url = url;
    }
  }
}
</script>