/* =========
Your custom styles go here
 ========= */

img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.refresh-button {
    min-width: 75px;
}

.photo-wrapper {
    text-align: center;
}