<template>
  <!-- App -->
  <div id="app">
  
    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>
  
    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" navbar-through :dynamic-navbar="true" main>
        <!-- iOS Theme Navbar -->
        <f7-navbar v-if="$theme.ios">
          <f7-nav-center sliding>Flickr Feed</f7-nav-center>
        </f7-navbar>
        <!-- Pages -->
        <f7-pages>
          <f7-page>
            <!-- Material Theme Navbar -->
            <f7-navbar v-if="$theme.material">
              <f7-nav-center sliding>Flickr Feed</f7-nav-center>
            </f7-navbar>
            <!-- Page Content -->
            <f7-block>
              <form v-on:submit.prevent="fetchMetadata">
                <f7-list>
                  <!-- Text Input -->
                  <f7-list-item>
                    <f7-input type="text" placeholder="Enter your tag" v-model="tag"></f7-input>
                    <f7-button class="refresh-button" type="submit" v-on:click="fetchMetadata">Refresh</f7-button>
                  </f7-list-item>
                </f7-list>
              </form>
            </f7-block>
            <f7-block v-if="loading">
              <f7-progressbar infinite color="blue"></f7-progressbar>
            </f7-block>
            <f7-block v-else>
              <flickr-photo v-for="photo in photos" v-bind:photo="photo" :key="photo.id"></flickr-photo>
            </f7-block>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-views>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import config from '../config/index'

import FlickrPhoto from './components/flickr-photo'

const API_KEY = config.API.KEY;
const API = config.API.BASE;
const Format = config.API.FORMAT;
const NoJsonCallback = config.API.NOJSONCALLBACK;

export default {
  name: 'App',
  components: { 'flickr-photo': FlickrPhoto },
  created() {
    this.fetchMetadata();
  },
  data() {
    return {
      photos: [],
      tag: '',
      loading: true
    }
  },
  methods: {
    fetchMetadata() {
      let self = this;

      self.loading = true;

      let apiMethod = config.API.METHODS.RECENT;

      if (self.tag) {
        apiMethod = config.API.METHODS.SEARCH;
      }

      Vue.axios.get(API, {
        params: {
          'format': Format,
          'nojsoncallback': NoJsonCallback,
          'method': apiMethod,
          'api_key': API_KEY,
          'tags': self.tag
        }
      })
        .then((response) => {
          self.photos = response.data.photos.photo;
          self.loading = false;
        })
        .catch((error) => {
          console.log(error);
          self.loading = false;
        })
    }
  }
}
</script>